body {
    margin: 0;
}
.navbar {
    z-index: 1;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    box-sizing: border-box;
    width: 100%;
}
.navbar .navigation-buttons {
    margin-left: auto;
    margin-right: 8px;
}

.navbar span {
    font-weight: 600;
    font-size: large;
    color: black;
    padding: 5px 2px;;
    text-decoration: none;
}

.navbar span:hover {
    cursor: pointer;
}

.navbar .dropdown {
    display: none;
    position: absolute;
    background-color: #dddddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 8px;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #aaa;}

.navbar:hover .dropdown {display: block;}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.small-logo {
    height: 36px;
}

.image-fit {
    max-width: 100%;
}

.cover-section {
    position: relative;
    padding: 33vh 0;
    background-color: #00000037;
}
.cover-section .cover-image {
    object-fit: cover;
    min-height: 80vh;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: -1;
}
.cover-section .cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    text-align: center;
    color: white;
    font-weight: 500;
}

.content-section {
    min-height: 32vh;
    background-color: white;
    padding: 8px;
}

.center-item {
    justify-content: center;
}

.center-text {
    display: flex;
    justify-content: center;
}

.center-paragraph {
    display: flex;
    justify-content: center;
    text-indent: 5%;
    padding: 0 15%;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.margin-top-extra-large {
    margin-top: 48px;
}

a {
    color: black;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 48px;
    background-color: #eeeeee;
    align-items: center;
}
footer span {
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.3px;
    color: #888888;
}
footer .social-links {
    margin-left: auto;
    margin-right: 8px;
}
